/* font-family: 'Noto Sans', sans-serif;
font-family: 'Playfair Display', serif; */

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    font-family: 'Noto Sans', sans-serif;
}

body,h1, h2, h3, h4, h5, h6,p {
    margin: 0;
}

.container {
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
}

.section {
    padding-top: 90px;
    padding-bottom: 90px;
}

.section-header {
    margin-bottom: 86px;
    text-align: center;
}

.section-header-title {
    margin-bottom: 10px;
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    font-size: 42px;
    line-height: normal;
    color: #000000;
}

.section-header p {
    font-size: 14px;
    line-height: normal;
    /* identical to box height */
    text-transform: uppercase;
    color: #999999;
}

.post-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.post {
    margin-bottom: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 570px;
    height: 170px;
}

.post-content {
    margin-bottom: 10px;
    font-weight: 400;
}

.post-content h2 {
    font-family: 'Playfair Display', serif;
    font-size: 20px;
    line-height: 27px;
    color: #000000;
}

.post-content p {
    margin-top: 0;
    font-size: 14px;
    line-height: 130%;
    /* or 18px */
    color: #777777;
    margin: 10px 0;
}

.post-img-wrapper {
    flex-shrink: 0;
    margin-right: 30px;
}
.img{
    max-width: 100%;
    height: auto;
    vertical-align: top;
}

.read-more {
    position: relative;
    padding-right: 26px;
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    color: #000000;
    text-decoration: none;
}

.read-more::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 24px;
    height: 24px;
    background-image: url('./../img/chevron-right.svg');
}

/* button */

.section-button-wrapper {
    text-align: center;
    margin: top 36px;
}

.button {
    display: inline-block;
    padding-left: 51px;
    padding-right: 51px;
    text-decoration: none;
    height: 42px;
    background: #FFFFFF;
    border: 1px solid #F72464;
    border-radius: 4px;
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 42px;
    text-align: center;
    text-transform: uppercase;
    color: #777777;
}