body {
    font-family: Arial, sans-serif;
    line-height: 1.5;
}

.header {
    background-color: #f0f8ff;
    color: #000;
    padding: 40px;
    width: 900px;
}

h1 {
    font-size: 42px;
    line-height: 1;
    margin-top: 0;
    margin-bottom: 24px;
}

.nav {
    background-color: #496883;
    color: #fff;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 900px;
    padding: 20px 40px;
}

.nav a {
    margin-right: 30px;
    color: #fff;
}

.nav a:last-child {
    margin-right: 0px;
}

h2 {
    font-size: 32px;
    margin-bottom: 24px;
}

.main {
    background-color: #dcebf0;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 900px;
    padding: 40px 40px;
}

p {
    font-size: 16px;
}

blockquote {
    font-size: 18px;
    padding: 15px 40px;
    margin: 40px 0;
    border-left: 3px solid #f24137;
}

.footer {
    background-color: #1d3f5e;
    color: white;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 900px;
    padding: 20px 40px;
}

h3 {
    font-size: 26px;
    margin-bottom: 24px;
}

.div {
    margin-bottom: 100px;
}